/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

h1, h2, h3 {
    color: #333;
}

/* Add New Book Form Styles */
.add-book-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.add-book-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.add-book-form input[type="text"] {
    width: calc(100% - 22px); /* Adjust according to your preference */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-book-form button[type="submit"] {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-book-form button[type="submit"]:hover {
    background-color: #555;
}


/* Book Container Styles */
.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.book-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-info h3 {
    margin-top: 0;
    color: #333;
}

.book-info p {
    margin: 5px 0;
    color: #666;
}

/* Search and Filter Styles */
.search-filter {
    margin-bottom: 20px;
}

.search-filter input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-filter button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-filter select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



