body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    display: flex;
    justify-content: space-between; 
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.chart-container {
    display: flex;
    width: calc(33.33% - 20px); /* Adjust the width of each container */
    margin-right: 20px; /* Adjust margin between containers */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

canvas {
    width: 25%; /* Adjust the width */
    height: 10%; /* Adjust the height */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 10px;
}

/* Add more custom styles as needed */
