<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login | MAD 1 Project</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
</body>
</html>
